element.style {
    height: 50px;
}
.toolbar-bottom .toolbar-inner, .ios .toolbar-bottom-ios .toolbar-inner, .md .toolbar-bottom-md .toolbar-inner, .aurora .toolbar-bottom-aurora .toolbar-inner {
    height: auto;
    top: 0;
    bottom: var(--f7-safe-area-bottom);
}
.toolbar-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    overflow: hidden;
    padding: 0 calc(var(--f7-toolbar-inner-padding-right) + var(--f7-safe-area-right)) 0 calc(var(--f7-toolbar-inner-padding-left) + var(--f7-safe-area-left));
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
user agent stylesheet
div {
    display: block;
}
.toolbar {
    width: 100%;
    position: relative;
    margin: 0;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 600;
    box-sizing: border-box;
    left: 0;
    height: var(--f7-toolbar-height);
    background-image: var(--f7-toolbar-bg-image, var(--f7-bars-bg-image));
    background-color: var(--f7-toolbar-bg-color, var(--f7-bars-bg-color));
    color: var(--f7-toolbar-text-color, var(--f7-bars-text-color));
    font-size: var(--f7-toolbar-font-size);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: var(--f7-font-family);
    font-size: var(--f7-font-size);
    line-height: var(--f7-line-height);
    color: var(--f7-text-color);
}
.ios {
    --f7-button-height: 28px;
    --f7-button-padding-horizontal: 10px;
    --f7-button-border-radius: 5px;
    --f7-button-font-weight: 600;
    --f7-button-letter-spacing: 0;
    /* --f7-button-fill-pressed-bg-color: var(--f7-theme-color-tint); */
    --f7-button-large-height: 44px;
    --f7-button-large-font-size: 17px;
    --f7-button-large-font-weight: 500;
    --f7-button-small-height: 26px;
    --f7-button-small-font-size: 13px;
    --f7-button-small-font-weight: 600;
    --f7-segmented-strong-button-text-transform: none;
    --f7-segmented-strong-button-active-font-weight: 600;
}
:root {
    --f7-button-font-size: 14px;
    --f7-button-min-width: 32px;
    --f7-button-bg-color: transparent;
    --f7-button-border-width: 0px;
    --f7-button-text-transform: uppercase;
    --f7-button-large-text-transform: uppercase;
    --f7-button-small-text-transform: uppercase;
    --f7-button-small-outline-border-width: 2px;
    --f7-button-outline-border-width: 2px;
    --f7-button-raised-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --f7-button-raised-pressed-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --f7-segmented-raised-divider-color: rgba(0, 0, 0, 0.1);
    --f7-segmented-strong-padding: 2px;
    --f7-segmented-strong-between-buttons: 4px;
    --f7-segmented-strong-button-font-weight: 500;
    --f7-segmented-strong-button-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    --f7-segmented-strong-bg-color: rgba(0, 0, 0, 0.07);
    --f7-segmented-strong-button-text-color: #000;
    --f7-segmented-strong-button-pressed-bg-color: rgba(0, 0, 0, 0.07);
    --f7-segmented-strong-button-hover-bg-color: rgba(0, 0, 0, 0.04);
    --f7-segmented-strong-button-active-text-color: #000;
    --f7-segmented-strong-button-active-bg-color: #fff;
}
:root {
    --f7-typography-padding: 16px;
    --f7-typography-margin: 16px;
}
:root {
    --f7-elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    --f7-elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --f7-elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --f7-elevation-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    --f7-elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --f7-elevation-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    --f7-elevation-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --f7-elevation-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    --f7-elevation-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --f7-elevation-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
    --f7-elevation-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    --f7-elevation-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
    --f7-elevation-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    --f7-elevation-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
    --f7-elevation-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
    --f7-elevation-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
    --f7-elevation-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    --f7-elevation-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
    --f7-elevation-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
    --f7-elevation-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
    --f7-elevation-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
    --f7-elevation-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
    --f7-elevation-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
    --f7-elevation-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
    --f7-elevation-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.ios {
    --f7-text-editor-toolbar-padding: 6px;
    --f7-text-editor-toolbar-border-color: rgba(0, 0, 0, 0.25);
}
:root {
    --f7-text-editor-font-size: inherit;
    --f7-text-editor-font-weight: inherit;
    --f7-text-editor-border-width: 1px;
    --f7-text-editor-height: 250px;
    --f7-text-editor-margin: 16px;
    --f7-text-editor-padding: 8px;
    --f7-text-editor-button-bg-color: transparent;
    --f7-text-editor-button-size: 28px;
    --f7-text-editor-button-icon-size: 20px;
    --f7-text-editor-button-margin: 2px;
    --f7-text-editor-button-border-radius: 2px;
    --f7-text-editor-text-color: #000;
    --f7-text-editor-bg-color: #fff;
    --f7-text-editor-border-color: rgba(0, 0, 0, 0.1);
    --f7-text-editor-toolbar-bg-color: #fff;
    --f7-text-editor-button-text-color: #333;
    --f7-text-editor-button-divider-color: rgba(0, 0, 0, 0.15);
    --f7-text-editor-placeholder-color: rgba(0, 0, 0, 0.35);
}
.ios {
    --f7-treeview-item-height: 34px;
    --f7-treeview-label-font-size: 17px;
    --f7-treeview-icon-size: 24px;
}
:root {
    --f7-treeview-item-padding-left: 16px;
    --f7-treeview-item-padding-right: 16px;
    --f7-treeview-toggle-size: 24px;
    --f7-treeview-children-offset: 29px;
    --f7-treeview-label-font-weight: 400;
    --f7-treeview-label-text-color: inherit;
    /* --f7-treeview-selectable-selected-bg-color: rgba(var(--f7-theme-color-rgb), 0.2); */
    --f7-treeview-toggle-color: rgba(0, 0, 0, 0.5);
    --f7-treeview-toggle-hover-bg-color: rgba(0, 0, 0, 0.1);
    --f7-treeview-toggle-pressed-bg-color: rgba(0, 0, 0, 0.15);
    --f7-treeview-icon-color: rgba(0, 0, 0, 0.5);
    --f7-treeview-selectable-hover-bg-color: rgba(0, 0, 0, 0.1);
    --f7-treeview-link-hover-bg-color: rgba(0, 0, 0, 0.1);
    --f7-treeview-link-pressed-bg-color: rgba(0, 0, 0, 0.15);
}
:root {
    --f7-color-picker-popover-width: 350px;
    --f7-color-picker-slider-size: 6px;
    --f7-color-picker-slider-knob-size: 16px;
    --f7-color-picker-bar-size: 50px;
    --f7-color-picker-bar-min-height: 260px;
    --f7-color-picker-value-width: 64px;
    --f7-color-picker-value-height: 32px;
    --f7-color-picker-value-font-size: 16px;
    --f7-color-picker-value-border-radius: 4px;
    --f7-color-picker-hex-value-width: 84px;
    --f7-color-picker-label-font-size: 14px;
    --f7-color-picker-label-width: 10px;
    --f7-color-picker-label-height: 14px;
    --f7-color-picker-sb-spectrum-height: 260px;
    --f7-color-picker-sb-spectrum-handle-size: 16px;
    --f7-color-picker-wheel-width: 330px;
    --f7-color-picker-palette-value-width: 36px;
    --f7-color-picker-palette-value-height: 36px;
    --f7-color-picker-initial-current-color-height: 40px;
    --f7-color-picker-initial-current-color-border-radius: 4px;
    --f7-color-picker-sheet-bg-color: #fff;
    --f7-color-picker-popup-bg-color: #fff;
    --f7-color-picker-value-bg-color: rgba(0, 0, 0, 0.05);
    --f7-color-picker-group-bg-color: rgba(0, 0, 0, 0.05);
    --f7-color-picker-group-value-bg-color: #fff;
}
:root {
    --f7-menu-text-color: #fff;
    --f7-menu-font-size: 16px;
    --f7-menu-font-weight: 500;
    --f7-menu-line-height: 1.2;
    --f7-menu-bg-color: rgba(0, 0, 0, 0.9);
    --f7-menu-item-pressed-bg-color: rgba(20, 20, 20, 0.9);
    --f7-menu-item-padding-horizontal: 12px;
    --f7-menu-item-spacing: 6px;
    --f7-menu-item-height: 40px;
    --f7-menu-item-dropdown-icon-color: rgba(255, 255, 255, 0.4);
    --f7-menu-item-border-radius: 8px;
    /* --f7-menu-dropdown-pressed-bg-color: var(--f7-theme-color); */
    --f7-menu-dropdown-item-height: 28px;
    --f7-menu-dropdown-divider-color: rgba(255, 255, 255, 0.2);
    --f7-menu-dropdown-padding-vertical: 6px;
    /* --f7-menu-dropdown-border-radius: var(--f7-menu-item-border-radius); */
}
:root {
    --f7-skeleton-color: #ccc;
}
:root {
    --f7-tooltip-bg-color: rgba(0, 0, 0, 0.87);
    --f7-tooltip-text-color: #fff;
    --f7-tooltip-border-radius: 4px;
    --f7-tooltip-padding: 8px 16px;
    --f7-tooltip-font-size: 14px;
    --f7-tooltip-font-weight: 500;
    --f7-tooltip-desktop-padding: 6px 8px;
    --f7-tooltip-desktop-font-size: 12px;
}
.ios {
    --f7-autocomplete-dropdown-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    --f7-autocomplete-dropdown-text-matching-font-weight: 600;
    --f7-autocomplete-dropdown-font-size: var(--f7-list-font-size);
    --f7-autocomplete-dropdown-text-color: #000;
    --f7-autocomplete-dropdown-text-matching-color: #000;
}
:root {
    --f7-autocomplete-dropdown-placeholder-color: #a9a9a9;
    --f7-autocomplete-dropdown-preloader-size: 20px;
    /* --f7-autocomplete-dropdown-selected-bg-color: rgba(var(--f7-theme-color-rgb), 0.2); */
    --f7-autocomplete-dropdown-bg-color: #fff;
}
.ios {
    --f7-notification-margin: 8px;
    --f7-notification-padding: 10px;
    --f7-notification-border-radius: 12px;
    --f7-notification-box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.7);
    --f7-notification-icon-size: 20px;
    --f7-notification-title-font-size: 13px;
    --f7-notification-title-text-transform: uppercase;
    --f7-notification-title-line-height: 1.4;
    --f7-notification-title-font-weight: 400;
    --f7-notification-title-letter-spacing: 0.02em;
    --f7-notification-title-right-font-size: 13px;
    --f7-notification-subtitle-font-size: 15px;
    --f7-notification-subtitle-font-weight: 600;
    --f7-notification-text-font-size: 15px;
    --f7-notification-text-line-height: 1.2;
    --f7-notification-bg-color: rgba(250, 250, 250, 0.95);
    --f7-notification-bg-color-rgb: 255, 255, 255;
    --f7-notification-title-color: #000;
    --f7-notification-title-right-color: rgba(0, 0, 0, 0.45);
    --f7-notification-subtitle-color: #000;
    --f7-notification-text-color: #000;
}
:root {
    --f7-notification-max-width: 568px;
    --f7-notification-subtitle-text-transform: none;
    --f7-notification-subtitle-line-height: 1.35;
    --f7-notification-text-text-transform: none;
    --f7-notification-text-font-weight: 400;
}
:root {
    --f7-photobrowser-bg-color: #fff;
    --f7-photobrowser-bars-bg-image: none;
    --f7-photobrowser-caption-font-size: 14px;
    --f7-photobrowser-caption-light-text-color: #000;
    --f7-photobrowser-caption-light-bg-color: rgba(255, 255, 255, 0.8);
    --f7-photobrowser-caption-dark-text-color: #fff;
    --f7-photobrowser-caption-dark-bg-color: rgba(0, 0, 0, 0.8);
    --f7-photobrowser-exposed-bg-color: #000;
    --f7-photobrowser-dark-bg-color: #000;
    --f7-photobrowser-dark-bars-bg-color: rgba(27, 27, 27, 0.8);
    --f7-photobrowser-dark-bars-text-color: #fff;
    --f7-photobrowser-dark-bars-link-color: #fff;
}
:root {
    --swiper-theme-color: var(--f7-theme-color);
}
:root {
    --swiper-navigation-size: 44px;
    /* --swiper-navigation-color: var(--swiper-theme-color); */
}
:root {
    --swiper-theme-color: #007aff;
}
.ios {
    --f7-messagebar-height: 44px;
    --f7-messagebar-font-size: 17px;
    /* --f7-messagebar-link-color: var(--f7-theme-color); */
    --f7-messagebar-border-color: transparent;
    --f7-messagebar-textarea-border-radius: 17px;
    --f7-messagebar-textarea-padding: 6px 16px;
    --f7-messagebar-textarea-height: 34px;
    --f7-messagebar-textarea-font-size: 17px;
    --f7-messagebar-textarea-line-height: 20px;
    --f7-messagebar-sheet-bg-color: #d1d5da;
    --f7-messagebar-attachment-border-radius: 12px;
    --f7-messagebar-textarea-text-color: #000;
    --f7-messagebar-textarea-border: 1px solid #c8c8cd;
    --f7-messagebar-attachments-border-color: #c8c8cd;
}
:root {
    --f7-messagebar-shadow-image: none;
    --f7-messagebar-textarea-bg-color: transparent;
    --f7-messagebar-attachments-height: 155px;
    --f7-messagebar-attachment-height: 155px;
    --f7-messagebar-attachment-landscape-height: 120px;
    --f7-messagebar-sheet-height: 252px;
    --f7-messagebar-sheet-landscape-height: 192px;
    --f7-messagebar-bg-color: #fff;
    --f7-messagebar-bg-color-rgb: 255, 255, 255;
}
.ios {
    --f7-messages-title-text-color: rgba(0, 0, 0, 0.45);
    --f7-messages-title-font-size: 11px;
    --f7-message-header-text-color: rgba(0, 0, 0, 0.45);
    --f7-message-footer-text-color: rgba(0, 0, 0, 0.45);
    --f7-message-name-text-color: rgba(0, 0, 0, 0.45);
    --f7-message-avatar-size: 29px;
    --f7-message-margin: 10px;
    --f7-message-bubble-min-height: 32px;
    --f7-message-bubble-font-size: 17px;
    --f7-message-bubble-border-radius: 16px;
    --f7-message-bubble-padding-vertical: 6px;
    --f7-message-bubble-padding-horizontal: 16px;
    --f7-message-typing-indicator-opacity: 0.35;
}
:root {
    --f7-message-text-header-text-color: inherit;
    --f7-message-text-header-opacity: 0.65;
    --f7-message-text-header-font-size: 12px;
    --f7-message-text-footer-text-color: inherit;
    --f7-message-text-footer-opacity: 0.65;
    --f7-message-text-footer-font-size: 12px;
    --f7-message-bubble-line-height: 1.2;
    --f7-message-header-font-size: 12px;
    --f7-message-footer-font-size: 11px;
    --f7-message-name-font-size: 12px;
    --f7-message-name-font-weight: inherit;
    --f7-message-avatar-border-radius: 50%;
    --f7-messages-title-font-weight: inherit;
    /* --f7-message-sent-bg-color: var(--f7-theme-color); */
    --f7-message-sent-text-color: #fff;
    --f7-messages-content-bg-color: #fff;
    --f7-message-typing-indicator-bg-color: #000;
    --f7-message-received-bg-color: #e5e5ea;
    --f7-message-received-text-color: #000;
}
.ios {
    --f7-searchbar-height: 44px;
    --f7-searchbar-inner-padding-left: 8px;
    --f7-searchbar-inner-padding-right: 8px;
    /* --f7-searchbar-link-color: var(--f7-bars-link-color, var(--f7-theme-color)); */
    --f7-searchbar-input-font-size: 17px;
    --f7-searchbar-input-border-radius: 8px;
    --f7-searchbar-input-height: 32px;
    --f7-searchbar-input-padding-horizontal: 28px;
    --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-shadow-image: none;
    --f7-searchbar-in-page-content-margin: 0px;
    --f7-searchbar-in-page-content-box-shadow: none;
    --f7-searchbar-in-page-content-border-radius: 0;
    --f7-searchbar-in-page-content-input-border-radius: 0;
    --f7-searchbar-search-icon-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-input-bg-color: #e4e4e4;
}
:root {
    --f7-searchbar-input-border-width: 0px;
    --f7-searchbar-input-border-color: transparent;
    --f7-searchbar-input-text-color: #000;
    --f7-searchbar-placeholder-color: rgba(0, 0, 0, 0.4);
}
.ios {
    --f7-fab-size: 50px;
    --f7-fab-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    --f7-fab-extended-size: 50px;
    --f7-fab-extended-text-font-weight: 600;
    --f7-fab-extended-text-letter-spacing: 0;
    --f7-fab-label-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    --f7-fab-label-font-size: inherit;
}
:root {
    --f7-fab-margin: 16px;
    --f7-fab-text-color: #fff;
    --f7-fab-extended-text-font-size: 14px;
    --f7-fab-extended-text-padding: 0 20px;
    --f7-fab-label-bg-color: #fff;
    --f7-fab-label-text-color: #333;
    --f7-fab-label-border-radius: 4px;
    --f7-fab-label-padding: 4px 12px;
    --f7-fab-button-size: 40px;
    /* --f7-fab-pressed-bg-color: var(--f7-theme-color-shade); */
}
.ios {
    --f7-table-head-font-weight: 600;
    --f7-table-head-cell-height: 44px;
    --f7-table-head-icon-size: 18px;
    --f7-table-body-cell-height: 44px;
    --f7-table-cell-padding-vertical: 0px;
    --f7-table-cell-padding-horizontal: 16px;
    --f7-table-edge-cell-padding-horizontal: 16px;
    --f7-table-label-cell-padding-horizontal: 16px;
    --f7-table-checkbox-cell-width: 22px;
    /* --f7-table-actions-cell-link-color: var(--f7-theme-color); */
    /* --f7-table-actions-link-color: var(--f7-theme-color); */
    --f7-table-title-font-size: 17px;
    --f7-table-title-font-weight: 600;
    --f7-table-card-header-height: 64px;
    --f7-table-footer-height: 44px;
    --f7-table-head-text-color: rgba(0, 0, 0, 0.45);
    --f7-table-cell-border-color: rgba(0, 0, 0, 0.22);
    --f7-table-selected-row-bg-color: rgba(0, 0, 0, 0.03);
    --f7-table-footer-text-color: rgba(0, 0, 0, 0.45);
    --f7-table-input-text-color: #000;
}
:root {
    --f7-table-head-font-size: 12px;
    --f7-table-body-font-size: 14px;
    --f7-table-footer-font-size: 12px;
    --f7-table-input-height: 24px;
    --f7-table-input-font-size: 14px;
    --f7-table-collapsible-cell-padding: 16px;
    --f7-table-link-icon-only-icon-size: 20px;
    --f7-table-sortable-icon-color: #000;
}
.ios {
    --f7-ptr-preloader-size: 28px;
    --f7-ptr-size: 44px;
}
.ios {
    --f7-picker-column-font-size: 20px;
    --f7-picker-sheet-bg-color: #cfd5da;
    --f7-picker-divider-text-color: #000;
    --f7-picker-item-text-color: rgba(0, 0, 0, 0.45);
    --f7-picker-item-selected-border-color: rgba(0, 0, 0, 0.22);
}
:root {
    --f7-picker-height: 260px;
    --f7-picker-inline-height: 200px;
    --f7-picker-popover-height: 200px;
    --f7-picker-popover-width: 280px;
    --f7-picker-landscape-height: 200px;
    --f7-picker-item-height: 36px;
    --f7-picker-item-selected-text-color: #000;
}
.ios {
    --f7-calendar-sheet-border-color: #929499;
    --f7-calendar-header-height: 44px;
    --f7-calendar-header-font-size: 17px;
    --f7-calendar-header-font-weight: 600;
    --f7-calendar-header-padding: 0 8px;
    --f7-calendar-footer-height: 44px;
    --f7-calendar-footer-font-size: 17px;
    --f7-calendar-week-header-height: 18px;
    --f7-calendar-day-font-size: 15px;
    --f7-calendar-day-size: 30px;
    --f7-calendar-picker-font-size: 17px;
    --f7-calendar-time-selector-font-size: 17px;
    --f7-calendar-row-border-color: rgba(0, 0, 0, 0.25);
    --f7-calendar-today-text-color: #000;
    --f7-calendar-today-bg-color: #e3e3e3;
}
:root {
    --f7-calendar-height: 340px;
    --f7-calendar-sheet-landscape-height: 220px;
    --f7-calendar-popover-width: 320px;
    --f7-calendar-popover-height: 320px;
    --f7-calendar-modal-height: 420px;
    --f7-calendar-modal-max-width: 380px;
    --f7-calendar-modal-border-radius: 4px;
    --f7-calendar-footer-padding: 0 8px;
    --f7-calendar-week-header-font-size: 11px;
    --f7-calendar-selected-text-color: #fff;
    /* --f7-calendar-selected-bg-color: var(--f7-theme-color); */
    --f7-calendar-prev-next-text-color: #b8b8b8;
    --f7-calendar-disabled-text-color: #d4d4d4;
    --f7-calendar-event-dot-size: 4px;
    /* --f7-calendar-event-bg-color: var(--f7-theme-color); */
    /* --f7-calendar-picker-selected-text-color: var(--f7-theme-color); */
    --f7-calendar-day-text-color: #000;
    --f7-calendar-sheet-bg-color: #fff;
    --f7-calendar-modal-bg-color: #fff;
    --f7-calendar-picker-bg-color: #fff;
    --f7-calendar-picker-pressed-bg-color: rgba(0, 0, 0, 0.1);
    --f7-calendar-picker-hover-bg-color: rgba(0, 0, 0, 0.03);
}
:root {
    --f7-grid-gap: 16px;
}
.ios {
    --f7-stepper-height: 28px;
    --f7-stepper-border-radius: 5px;
    --f7-stepper-large-height: 44px;
    --f7-stepper-small-height: 26px;
    --f7-stepper-small-border-width: 2px;
    --f7-stepper-value-font-size: 17px;
}
:root {
    --f7-stepper-fill-button-text-color: #fff;
    /* --f7-stepper-fill-button-bg-color: var(--f7-theme-color); */
    --f7-stepper-raised-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    --f7-stepper-value-font-weight: 500;
    --f7-stepper-border-width: 2px;
}
.ios {
    --f7-range-size: 28px;
    --f7-range-bar-bg-color: #b7b8b7;
    --f7-range-bar-size: 1px;
    --f7-range-bar-border-radius: 2px;
    --f7-range-knob-size: 28px;
    --f7-range-knob-color: #fff;
    --f7-range-knob-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --f7-range-label-size: 20px;
    --f7-range-label-text-color: #000;
    --f7-range-label-bg-color: #fff;
    --f7-range-label-font-size: 12px;
    --f7-range-label-font-weight: normal;
    --f7-range-label-border-radius: 5px;
    --f7-range-label-padding: 0px;
    --f7-range-scale-step-width: 1px;
    --f7-range-scale-font-size: 12px;
    --f7-range-scale-font-weight: 400;
    --f7-range-scale-label-offset: 4px;
}
:root {
    --f7-range-scale-step-height: 5px;
    --f7-range-scale-text-color: #666;
    --f7-range-scale-substep-width: 1px;
    --f7-range-scale-substep-height: 4px;
}
.ios {
    --f7-toggle-width: 52px;
    --f7-toggle-height: 32px;
    --f7-toggle-border-color: #e5e5e5;
    --f7-toggle-inactive-color: #fff;
}
:root {
    --f7-toggle-handle-color: #fff;
}
.ios {
    --f7-radio-size: 22px;
    --f7-radio-border-width: 1px;
    --f7-radio-extra-margin: 0px;
    --f7-radio-inactive-color: #c7c7cc;
}
:root {
    /* --f7-radio-active-color: var(--f7-theme-color); */
    --f7-radio-border-radius: 50%;
}
.ios {
    --f7-checkbox-size: 22px;
    --f7-checkbox-border-radius: 50%;
    --f7-checkbox-border-width: 1px;
    --f7-checkbox-extra-margin: 0px;
    --f7-checkbox-inactive-color: #c7c7cc;
}
:root {
    /* --f7-checkbox-active-color: var(--f7-theme-color); */
    --f7-checkbox-icon-color: #fff;
}
.ios {
    --f7-input-height: 44px;
    --f7-input-font-size: 17px;
    --f7-input-placeholder-color: #a9a9a9;
    --f7-textarea-padding-vertical: 11px;
    --f7-label-font-size: 12px;
    --f7-label-text-color: inherit;
    --f7-floating-label-scale: calc(17 / 12);
    --f7-inline-label-font-size: 17px;
    --f7-inline-label-line-height: 1.4;
    --f7-inline-label-padding-top: 3px;
    --f7-input-clear-button-size: 14px;
    --f7-input-text-color: #000000;
    --f7-input-info-text-color: rgba(0, 0, 0, 0.45);
    --f7-input-clear-button-color: rgba(0, 0, 0, 0.45);
}
:root {
    --f7-input-bg-color: transparent;
    --f7-label-font-weight: 400;
    --f7-label-line-height: 1.2;
    --f7-input-padding-left: 0px;
    --f7-input-padding-right: 0px;
    --f7-input-error-text-color: #ff3b30;
    --f7-input-error-font-size: 12px;
    --f7-input-error-line-height: 1.4;
    --f7-input-error-font-weight: 400;
    --f7-input-info-font-size: 12px;
    --f7-input-info-line-height: 1.4;
    --f7-input-outline-height: 40px;
    --f7-input-outline-border-radius: 4px;
    --f7-input-outline-padding-horizontal: 12px;
    --f7-textarea-height: 100px;
    --f7-input-outline-border-color: #999;
}
.ios {
    --f7-chip-height: 24px;
    --f7-chip-padding-horizontal: 10px;
    --f7-chip-text-color: #000;
}
:root {
    --f7-chip-font-size: 13px;
    --f7-chip-font-weight: normal;
    --f7-chip-media-font-size: 16px;
    --f7-chip-bg-color: rgba(0, 0, 0, 0.12);
    --f7-chip-outline-border-color: rgba(0, 0, 0, 0.12);
    --f7-chip-delete-button-color: #000;
}
.ios {
    --f7-card-margin-horizontal: 10px;
    --f7-card-margin-vertical: 10px;
    --f7-card-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    --f7-card-header-font-size: 17px;
    --f7-card-header-padding-vertical: 10px;
    --f7-card-header-min-height: 44px;
    --f7-card-footer-text-color: rgba(0, 0, 0, 0.45);
    --f7-card-footer-padding-vertical: 10px;
    --f7-card-footer-min-height: 44px;
    --f7-card-expandable-margin-horizontal: 20px;
    --f7-card-expandable-margin-vertical: 30px;
    --f7-card-expandable-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
    --f7-card-expandable-border-radius: 15px;
    --f7-card-expandable-tablet-border-radius: 5px;
    --f7-card-expandable-header-font-size: 27px;
    --f7-card-expandable-header-font-weight: bold;
}
:root {
    --f7-card-content-padding-horizontal: 16px;
    --f7-card-content-padding-vertical: 16px;
    --f7-card-border-radius: 4px;
    --f7-card-font-size: inherit;
    --f7-card-header-text-color: inherit;
    --f7-card-header-font-weight: 400;
    --f7-card-header-padding-horizontal: 16px;
    --f7-card-footer-font-weight: 400;
    --f7-card-footer-font-size: inherit;
    --f7-card-footer-padding-horizontal: 16px;
    --f7-card-expandable-font-size: 16px;
    --f7-card-expandable-tablet-width: 670px;
    --f7-card-expandable-tablet-height: 670px;
    --f7-card-bg-color: #fff;
    --f7-card-outline-border-color: rgba(0, 0, 0, 0.12);
    --f7-card-header-border-color: rgba(0, 0, 0, 0.1);
    --f7-card-footer-border-color: rgba(0, 0, 0, 0.1);
    --f7-card-expandable-bg-color: #fff;
}
.ios {
    --f7-panel-collapsed-width: 58px;
    --f7-panel-backdrop-bg-color: rgba(0, 0, 0, 0);
    --f7-panel-transition-duration: 400ms;
    --f7-panel-shadow: transparent;
}
:root {
    --f7-panel-width: 260px;
    --f7-panel-bg-color: #fff;
}
.ios {
    --f7-timeline-padding-horizontal: 16px;
    --f7-timeline-margin-vertical: 35px;
    --f7-timeline-item-inner-border-radius: 7px;
    --f7-timeline-item-inner-box-shadow: none;
    --f7-timeline-item-time-font-size: 13px;
    --f7-timeline-item-title-font-size: 17px;
    --f7-timeline-item-title-line-height: inherit;
    --f7-timeline-item-title-font-weight: 600;
    --f7-timeline-item-subtitle-font-size: 15px;
    --f7-timeline-item-subtitle-line-height: inherit;
    --f7-timeline-item-text-font-size: inherit;
    --f7-timeline-item-text-color: inherit;
    --f7-timeline-item-text-line-height: inherit;
    --f7-timeline-year-font-size: 16px;
    --f7-timeline-horizontal-item-padding: 10px;
    --f7-timeline-horizontal-item-date-shadow-image: none;
    --f7-timeline-item-time-text-color: rgba(0, 0, 0, 0.45);
    --f7-timeline-horizontal-item-border-color: rgba(0, 0, 0, 0.22);
    --f7-timeline-horizontal-item-date-border-color: rgba(0, 0, 0, 0.22);
}
:root {
    --f7-timeline-inner-block-margin-vertical: 16px;
    --f7-timeline-divider-margin-horizontal: 16px;
    --f7-timeline-horizontal-date-height: 34px;
    --f7-timeline-year-height: 24px;
    --f7-timeline-year-font-weight: inherit;
    --f7-timeline-month-height: 24px;
    --f7-timeline-month-font-size: inherit;
    --f7-timeline-month-font-weight: inherit;
    --f7-timeline-item-text-font-weight: inherit;
    --f7-timeline-item-subtitle-font-weight: inherit;
    --f7-timeline-item-inner-bg-color: #fff;
}
.ios {
    --f7-list-index-label-size: 44px;
    --f7-list-index-label-font-size: 17px;
    --f7-list-index-skip-dot-size: 6px;
}
:root {
    --f7-list-index-width: 16px;
    --f7-list-index-font-size: 11px;
    --f7-list-index-font-weight: 600;
    /* --f7-list-index-text-color: var(--f7-theme-color); */
    --f7-list-index-item-height: 14px;
    --f7-list-index-label-text-color: #fff;
    /* --f7-list-index-label-bg-color: var(--f7-theme-color); */
    --f7-list-index-label-font-weight: 500;
}
.ios {
    --f7-contacts-list-title-font-size: inherit;
    --f7-contacts-list-title-font-weight: 600;
    --f7-contacts-list-title-height: 22px;
    --f7-contacts-list-title-text-color: #000;
    --f7-contacts-list-title-bg-color: #f7f7f7;
}
.ios {
    --f7-swipeout-button-padding: 0 30px;
}
:root {
    --f7-swipeout-button-text-color: #fff;
    --f7-swipeout-delete-button-bg-color: #ff3b30;
    --f7-swipeout-button-font-size: inherit;
    --f7-swipeout-button-font-weight: inherit;
    --f7-swipeout-button-bg-color: rgba(0, 0, 0, 0.22);
}
.ios {
    --f7-sortable-handler-width: 36px;
    --f7-sortable-sorting-item-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}
:root {
    --f7-sortable-handler-color: rgba(0, 0, 0, 0.22);
    --f7-sortable-sorting-item-bg-color: rgba(255, 255, 255, 0.8);
}
.ios {
    --f7-progressbar-height: 2px;
    --f7-progressbar-border-radius: 2px;
    --f7-progressbar-bg-color: rgba(0, 0, 0, 0.3);
}
.ios {
    --f7-preloader-color: #6c6c6c;
    --f7-preloader-size: 20px;
    --f7-preloader-modal-preloader-size: 34px;
    --f7-preloader-modal-border-radius: 5px;
}
:root {
    --f7-preloader-modal-padding: 8px;
    --f7-preloader-modal-bg-color: rgba(0, 0, 0, 0.8);
}
.ios {
    --f7-toast-bg-color: rgba(0, 0, 0, 0.75);
    --f7-toast-bg-color-rgb: 0, 0, 0;
    --f7-toast-padding-horizontal: 16px;
    --f7-toast-padding-vertical: 12px;
    --f7-toast-border-radius: 8px;
    --f7-toast-button-min-width: 64px;
}
:root {
    --f7-toast-text-color: #fff;
    --f7-toast-font-size: 14px;
    --f7-toast-icon-size: 48px;
}
.ios {
    --f7-sheet-border-color: var(--f7-bars-border-color);
}
:root {
    --f7-sheet-height: 260px;
    --f7-sheet-border-color: transparent;
    --f7-sheet-transition-duration: 300ms;
    --f7-sheet-push-border-radius: 10px;
    --f7-sheet-push-offset: var(--f7-safe-area-top);
    --f7-sheet-bg-color: #fff;
}
.ios {
    --f7-actions-border-radius: 13px;
    /* --f7-actions-button-text-color: var(--f7-theme-color); */
    --f7-actions-button-padding: 0px;
    --f7-actions-button-text-align: center;
    --f7-actions-button-height: 57px;
    --f7-actions-button-height-landscape: 44px;
    --f7-actions-button-font-size: 20px;
    --f7-actions-button-icon-size: 28px;
    --f7-actions-button-justify-content: center;
    --f7-actions-label-padding: 8px 10px;
    --f7-actions-label-font-size: 13px;
    --f7-actions-label-justify-content: center;
    --f7-actions-group-border-color: transparent;
    --f7-actions-group-margin: 8px;
    --f7-actions-grid-button-icon-size: 48px;
    --f7-actions-bg-color: rgba(255, 255, 255, 0.95);
    --f7-actions-bg-color-rgb: 255, 255, 255;
    --f7-actions-button-border-color: rgba(0, 0, 0, 0.2);
    --f7-actions-button-pressed-bg-color: rgba(230, 230, 230, 0.9);
    --f7-actions-button-pressed-bg-color-rgb: 230, 230, 230;
    --f7-actions-label-text-color: #8a8a8a;
}
:root {
    --f7-actions-grid-button-font-size: 12px;
    --f7-actions-grid-button-text-color: #757575;
}
.ios {
    --f7-popover-border-radius: 13px;
    --f7-popover-box-shadow: none;
    --f7-popover-actions-icon-size: 28px;
    --f7-popover-bg-color: rgba(255, 255, 255, 0.95);
    --f7-popover-actions-label-text-color: rgba(0, 0, 0, 0.45);
}
:root {
    --f7-popover-width: 260px;
}
.ios {
    --f7-login-screen-blocks-margin-vertical: 25px;
}
:root {
    --f7-login-screen-blocks-max-width: 480px;
    /* --f7-login-screen-list-button-text-color: var(--f7-theme-color); */
    --f7-login-screen-title-text-align: center;
    --f7-login-screen-title-text-color: inherit;
    --f7-login-screen-title-letter-spacing: 0;
    --f7-login-screen-title-font-weight: 600;
    --f7-login-screen-title-font-size: 28px;
    --f7-login-screen-content-bg-color: #fff;
    --f7-login-screen-bg-color: #fff;
}
.ios {
    --f7-popup-box-shadow: none;
}
:root {
    --f7-popup-border-radius: 0px;
    --f7-popup-tablet-width: 630px;
    --f7-popup-tablet-height: 630px;
    --f7-popup-transition-duration: 400ms;
    --f7-popup-push-border-radius: 10px;
    --f7-popup-push-offset: var(--f7-safe-area-top);
    /* --f7-popup-tablet-border-radius: var(--f7-popup-border-radius); */
}
.ios {
    --f7-dialog-box-shadow: none;
    --f7-dialog-width: 270px;
    --f7-dialog-inner-padding: 16px;
    --f7-dialog-border-radius: 13px;
    --f7-dialog-text-align: center;
    --f7-dialog-font-size: 14px;
    --f7-dialog-title-text-color: inherit;
    --f7-dialog-title-font-size: 18px;
    --f7-dialog-title-font-weight: 600;
    --f7-dialog-title-line-height: inherit;
    --f7-dialog-button-font-size: 17px;
    --f7-dialog-button-height: 44px;
    --f7-dialog-button-letter-spacing: 0;
    --f7-dialog-button-font-weight: 400;
    --f7-dialog-button-text-transform: none;
    --f7-dialog-input-border-radius: 4px;
    --f7-dialog-input-font-size: 14px;
    --f7-dialog-input-height: 32px;
    --f7-dialog-input-border-width: 1px;
    --f7-dialog-input-placeholder-color: #a9a9a9;
    --f7-dialog-preloader-size: 34px;
    --f7-dialog-bg-color: rgba(255, 255, 255, 0.95);
    --f7-dialog-bg-color-rgb: 255, 255, 255;
    --f7-dialog-text-color: #000;
    --f7-dialog-button-pressed-bg-color: rgba(0, 0, 0, 0.1);
    --f7-dialog-input-border-color: rgba(0, 0, 0, 0.3);
    --f7-dialog-border-divider-color: rgba(0, 0, 0, 0.2);
}
:root {
    --f7-dialog-button-text-color: var(--f7-theme-color);
    --f7-dialog-button-text-align: center;
    --f7-dialog-input-bg-color: #fff;
}
.ios {
    --f7-appbar-height: 44px;
    --f7-appbar-inner-padding-left: 8px;
    --f7-appbar-inner-padding-right: 8px;
}
:root {
    --f7-appbar-shadow-image: none;
}
:root {
    --f7-touch-ripple-black: rgba(0, 0, 0, 0.1);
    --f7-touch-ripple-white: rgba(255, 255, 255, 0.3);
    --f7-touch-ripple-color: var(--f7-touch-ripple-black);
}
.ios {
    --f7-button-font-size: 13px;
    --f7-button-height: 28px;
    --f7-button-padding-horizontal: 10px;
    --f7-button-border-radius: 5px;
    --f7-button-font-weight: 600;
    --f7-button-letter-spacing: 0;
    --f7-button-text-transform: uppercase;
    --f7-button-large-height: 44px;
    --f7-button-large-font-size: 17px;
    --f7-button-large-font-weight: 500;
    --f7-button-large-text-transform: none;
    --f7-button-small-height: 26px;
    --f7-button-small-font-size: 13px;
    --f7-button-small-font-weight: 600;
    --f7-button-small-text-transform: uppercase;
    --f7-button-small-outline-border-width: 2px;
    --f7-segmented-strong-button-text-transform: none;
    --f7-segmented-strong-button-active-font-weight: 600;
}
:root {
    --f7-button-min-width: 32px;
    --f7-button-bg-color: transparent;
    --f7-button-border-width: 0px;
    --f7-button-outline-border-width: 2px;
    --f7-button-raised-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    --f7-button-raised-pressed-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    --f7-segmented-raised-divider-color: rgba(0, 0, 0, 0.1);
    --f7-segmented-strong-padding: 2px;
    --f7-segmented-strong-between-buttons: 4px;
    --f7-segmented-strong-button-font-weight: 500;
    --f7-segmented-strong-button-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    --f7-segmented-strong-bg-color: rgba(0, 0, 0, 0.07);
    --f7-segmented-strong-button-text-color: #000;
    --f7-segmented-strong-button-pressed-bg-color: rgba(0, 0, 0, 0.07);
    --f7-segmented-strong-button-hover-bg-color: rgba(0, 0, 0, 0.04);
    --f7-segmented-strong-button-active-text-color: #000;
    --f7-segmented-strong-button-active-bg-color: #fff;
}
.ios {
    --f7-badge-size: 20px;
}
:root {
    --f7-badge-text-color: #fff;
    --f7-badge-bg-color: #8e8e93;
    --f7-badge-padding: 0 4px;
    --f7-badge-in-icon-size: 16px;
    --f7-badge-in-icon-font-size: 10px;
    --f7-badge-font-weight: normal;
    --f7-badge-font-size: 12px;
}
.ios {
    --f7-list-in-list-padding-left: 30px;
    --f7-list-inset-border-radius: 8px;
    --f7-list-margin-vertical: 35px;
    --f7-list-font-size: 17px;
    --f7-list-chevron-icon-area: 20px;
    --f7-list-border-color: rgba(0, 0, 0, 0.22);
    --f7-list-item-border-color: rgba(0, 0, 0, 0.22);
    --f7-list-link-pressed-bg-color: rgba(0, 0, 0, 0.15);
    --f7-list-item-subtitle-font-size: 15px;
    --f7-list-item-text-font-size: 15px;
    --f7-list-item-text-line-height: 21px;
    --f7-list-item-after-font-size: inherit;
    --f7-list-item-after-line-height: inherit;
    --f7-list-item-after-padding: 5px;
    --f7-list-item-min-height: 44px;
    --f7-list-item-media-margin: 16px;
    --f7-list-item-media-icons-margin: 5px;
    --f7-list-item-padding-vertical: 8px;
    --f7-list-media-item-padding-vertical: 10px;
    --f7-list-media-item-title-font-weight: 600;
    /* --f7-list-button-text-color: var(--f7-theme-color); */
    --f7-list-button-text-align: center;
    --f7-list-button-border-color: rgba(0, 0, 0, 0.22);
    --f7-list-item-divider-height: 31px;
    --f7-list-item-divider-font-size: inherit;
    --f7-list-item-divider-font-weight: 400;
    --f7-list-item-divider-bg-color: rgba(0, 0, 0, 0.03);
    --f7-list-item-divider-border-color: rgba(0, 0, 0, 0.22);
    --f7-list-group-title-height: 31px;
    --f7-list-group-title-font-size: inherit;
    --f7-list-group-title-font-weight: 400;
    --f7-list-group-title-bg-color: #f7f7f7;
    --f7-list-item-after-text-color: rgba(0, 0, 0, 0.45);
    --f7-list-item-footer-text-color: rgba(0, 0, 0, 0.45);
    --f7-list-item-text-text-color: rgba(0, 0, 0, 0.45);
    --f7-list-item-divider-text-color: rgba(0, 0, 0, 0.45);
    --f7-list-group-title-text-color: rgba(0, 0, 0, 0.45);
    --f7-list-button-pressed-bg-color: rgba(0, 0, 0, 0.15);
}
:root {
    --f7-list-inset-side-margin: 16px;
    --f7-list-item-cell-margin: 16px;
    --f7-list-item-padding-horizontal: 16px;
    --f7-list-media-item-padding-horizontal: 16px;
    --f7-list-item-text-max-lines: 2;
    --f7-list-chevron-icon-font-size: 20px;
    --f7-list-item-title-font-size: inherit;
    --f7-list-item-title-font-weight: 400;
    --f7-list-item-title-text-color: inherit;
    --f7-list-item-title-line-height: inherit;
    --f7-list-item-title-white-space: nowrap;
    --f7-list-item-subtitle-font-weight: 400;
    --f7-list-item-subtitle-text-color: inherit;
    --f7-list-item-subtitle-line-height: inherit;
    --f7-list-item-text-font-weight: 400;
    --f7-list-item-after-font-weight: 400;
    --f7-list-item-header-text-color: inherit;
    --f7-list-item-header-font-size: 12px;
    --f7-list-item-header-font-weight: 400;
    --f7-list-item-header-line-height: 1.2;
    --f7-list-item-footer-font-size: 12px;
    --f7-list-item-footer-font-weight: 400;
    --f7-list-item-footer-line-height: 1.2;
    --f7-list-button-font-size: inherit;
    --f7-list-button-font-weight: 400;
    --f7-list-item-divider-line-height: inherit;
    --f7-list-group-title-line-height: inherit;
    --f7-list-bg-color: #fff;
    --f7-list-chevron-icon-color: rgba(0, 0, 0, 0.2);
}
.ios {
    --f7-block-margin-vertical: 35px;
    --f7-block-strong-border-color: rgba(0, 0, 0, 0.22);
    --f7-block-title-text-color: #000;
    --f7-block-title-font-size: 16px;
    --f7-block-title-font-weight: 600;
    --f7-block-title-line-height: 20px;
    --f7-block-title-margin-bottom: 10px;
    --f7-block-title-medium-font-size: 22px;
    --f7-block-title-medium-font-weight: bold;
    --f7-block-title-medium-line-height: 1.4;
    --f7-block-title-large-font-size: 30px;
    --f7-block-title-large-font-weight: bold;
    --f7-block-title-large-line-height: 1.3;
    --f7-block-inset-border-radius: 8px;
    --f7-block-strong-text-color: #000;
    --f7-block-header-text-color: rgba(0, 0, 0, 0.45);
    --f7-block-footer-text-color: rgba(0, 0, 0, 0.45);
}
:root {
    --f7-block-padding-horizontal: 16px;
    --f7-block-padding-vertical: 16px;
    --f7-block-font-size: inherit;
    --f7-block-text-color: inherit;
    --f7-block-header-margin: 10px;
    --f7-block-footer-margin: 10px;
    --f7-block-header-font-size: 14px;
    --f7-block-footer-font-size: 14px;
    --f7-block-title-text-transform: none;
    --f7-block-title-white-space: nowrap;
    --f7-block-title-medium-text-transform: none;
    --f7-block-title-large-text-transform: none;
    --f7-block-inset-side-margin: 16px;
    --f7-block-title-medium-text-color: #000;
    --f7-block-title-large-text-color: #000;
    --f7-block-strong-bg-color: #fff;
}
.ios {
    --f7-subnavbar-height: 44px;
    --f7-subnavbar-inner-padding-left: 8px;
    --f7-subnavbar-inner-padding-right: 8px;
    --f7-subnavbar-title-font-size: 34px;
    --f7-subnavbar-title-font-weight: 700;
    --f7-subnavbar-title-letter-spacing: -0.03em;
    --f7-subnavbar-title-margin-left: 8px;
    --f7-subnavbar-shadow-image: none;
}
:root {
    --f7-subnavbar-title-line-height: 1.2;
}
.ios {
    --f7-toolbar-height: 44px;
    --f7-toolbar-font-size: 17px;
    --f7-toolbar-inner-padding-left: 8px;
    --f7-toolbar-inner-padding-right: 8px;
    --f7-tabbar-labels-height: 50px;
    --f7-tabbar-labels-tablet-height: 50px;
    --f7-toolbar-top-shadow-image: none;
    --f7-toolbar-bottom-shadow-image: none;
    --f7-tabbar-icon-size: 28px;
    --f7-tabbar-link-text-transform: none;
    --f7-tabbar-link-font-weight: 400;
    --f7-tabbar-link-letter-spacing: 0;
    --f7-tabbar-label-font-size: 12px;
    --f7-tabbar-label-tablet-font-size: 14px;
    --f7-tabbar-label-font-weight: 500;
    --f7-tabbar-label-letter-spacing: 0.01;
    --f7-tabbar-link-inactive-color: rgba(0, 0, 0, 0.4);
}
:root {
    --f7-tabbar-link-active-bg-color: transparent;
    --f7-tabbar-label-text-transform: none;
    --f7-toolbar-hide-show-transition-duration: 400ms;
}
.ios {
    --f7-navbarLeftTextOffset: calc(4px + 12px + var(--f7-navbar-inner-padding-left));
    --f7-navbarTitleLargeOffset: var(--f7-navbar-large-title-padding-left);
    --f7-navbar-large-transparent-bg-center: translateX(0);
    --f7-navbar-large-bg-center-top: translateX(0) translateY(calc(-1 * var(--f7-navbar-large-title-height)));
    --f7-navbar-large-bg-center-bottom: translateX(0) translateY(0);
    --f7-navbar-large-transparent-bg-left: translateX(-100%);
    --f7-navbar-large-bg-left-top: translateX(-100%) translateY(calc(-1 * var(--f7-navbar-large-title-height)));
    --f7-navbar-large-bg-left-bottom: translateX(-100%) translateY(0);
    --f7-navbar-large-bg-right-top: translateX(100%) translateY(calc(-1 * var(--f7-navbar-large-title-height)));
    --f7-navbar-large-bg-right-bottom: translateX(100%) translateY(0);
}
.ios {
    --f7-navbar-height: 44px;
    --f7-navbar-tablet-height: 44px;
    --f7-navbar-font-size: 17px;
    --f7-navbar-inner-padding-left: 8px;
    --f7-navbar-inner-padding-right: 8px;
    --f7-navbar-title-font-weight: 600;
    --f7-navbar-title-margin-left: 0;
    --f7-navbar-title-margin-right: 0;
    --f7-navbar-title-text-align: center;
    --f7-navbar-subtitle-font-size: 10px;
    --f7-navbar-subtitle-line-height: 1;
    --f7-navbar-shadow-image: none;
    --f7-navbar-large-title-height: 52px;
    --f7-navbar-large-title-font-size: 34px;
    --f7-navbar-large-title-font-weight: 700;
    --f7-navbar-large-title-letter-spacing: -0.03em;
    --f7-navbar-large-title-padding-vertical: 6px;
    --f7-navbar-subtitle-text-color: rgba(0, 0, 0, 0.55);
}
:root {
    --f7-navbar-hide-show-transition-duration: 400ms;
    --f7-navbar-title-line-height: 1.2;
    --f7-navbar-title-font-size: inherit;
    --f7-navbar-subtitle-text-align: inherit;
    --f7-navbar-large-title-line-height: 1.2;
    --f7-navbar-large-title-text-color: inherit;
    --f7-navbar-large-title-padding-left: 16px;
    --f7-navbar-large-title-padding-right: 16px;
}
:root {
    --f7-link-highlight-black: rgba(0, 0, 0, 0.1);
    --f7-link-highlight-white: rgba(255, 255, 255, 0.15);
    --f7-link-highlight-color: var(--f7-link-highlight-black);
}
.ios {
    --f7-page-transition-duration: 400ms;
    --f7-page-bg-color: #efeff4;
}
:root {
    --f7-page-master-width: 320px;
    --f7-page-master-border-color: rgba(0, 0, 0, 0.1);
    --f7-page-master-border-width: 1px;
    --f7-page-swipeback-transition-duration: 300ms;
}
.device-ios, .device-android {
    cursor: pointer;
}
:root {
    --f7-color-red: #ff3b30;
    --f7-color-red-rgb: 255, 59, 48;
    --f7-color-red-shade: #ff1407;
    --f7-color-red-tint: #ff6259;
    --f7-color-green: #4cd964;
    --f7-color-green-rgb: 76, 217, 100;
    --f7-color-green-shade: #2cd048;
    --f7-color-green-tint: #6ee081;
    --f7-color-blue: #2196f3;
    --f7-color-blue-rgb: 33, 150, 243;
    --f7-color-blue-shade: #0c82df;
    --f7-color-blue-tint: #48a8f5;
    --f7-color-pink: #ff2d55;
    --f7-color-pink-rgb: 255, 45, 85;
    --f7-color-pink-shade: #ff0434;
    --f7-color-pink-tint: #ff5676;
    --f7-color-yellow: #ffcc00;
    --f7-color-yellow-rgb: 255, 204, 0;
    --f7-color-yellow-shade: #d6ab00;
    --f7-color-yellow-tint: #ffd429;
    --f7-color-orange: #ff9500;
    --f7-color-orange-rgb: 255, 149, 0;
    --f7-color-orange-shade: #d67d00;
    --f7-color-orange-tint: #ffa629;
    --f7-color-purple: #9c27b0;
    --f7-color-purple-rgb: 156, 39, 176;
    --f7-color-purple-shade: #7e208f;
    --f7-color-purple-tint: #b92fd1;
    --f7-color-deeppurple: #673ab7;
    --f7-color-deeppurple-rgb: 103, 58, 183;
    --f7-color-deeppurple-shade: #563098;
    --f7-color-deeppurple-tint: #7c52c8;
    --f7-color-lightblue: #5ac8fa;
    --f7-color-lightblue-rgb: 90, 200, 250;
    --f7-color-lightblue-shade: #32bbf9;
    --f7-color-lightblue-tint: #82d5fb;
    --f7-color-teal: #009688;
    --f7-color-teal-rgb: 0, 150, 136;
    --f7-color-teal-shade: #006d63;
    --f7-color-teal-tint: #00bfad;
    --f7-color-lime: #cddc39;
    --f7-color-lime-rgb: 205, 220, 57;
    --f7-color-lime-shade: #bac923;
    --f7-color-lime-tint: #d6e25c;
    --f7-color-deeporange: #ff6b22;
    --f7-color-deeporange-rgb: 255, 107, 34;
    --f7-color-deeporange-shade: #f85200;
    --f7-color-deeporange-tint: #ff864b;
    --f7-color-gray: #8e8e93;
    --f7-color-gray-rgb: 142, 142, 147;
Show All Properties (10 more)
}
.ios {
    --f7-font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    --f7-line-height: 1.4;
    --f7-text-color: #000;
    --f7-bars-border-color: rgba(0, 0, 0, 0.25);
}
:root {
    --f7-font-size: 14px;
    /* --f7-bars-link-color: var(--f7-theme-color); */
    --f7-bars-bg-image: none;
    --f7-bars-translucent-opacity: 0.8;
    --f7-bars-translucent-blur: 20px;
    --f7-bars-shadow-bottom-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    --f7-bars-shadow-top-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    --f7-bars-text-color: #000;
    --f7-bars-bg-color: #f7f7f8;
    --f7-bars-bg-color-rgb: 247, 247, 248;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
:root {
    --f7-device-pixel-ratio: 2;
}
@supports (left: env(safe-area-inset-left))
:root {
    --f7-safe-area-top: env(safe-area-inset-top);
    --f7-safe-area-bottom: env(safe-area-inset-bottom);
}
:root {
    --f7-theme-color: #007aff;
    --f7-theme-color-rgb: 0, 122, 255;
    --f7-theme-color-shade: #0066d6;
    --f7-theme-color-tint: #298fff;
    --f7-safe-area-left: 0px;
    --f7-safe-area-right: 0px;
    --f7-safe-area-top: 0px;
    --f7-safe-area-bottom: 0px;
    --f7-safe-area-outer-left: 0px;
    --f7-safe-area-outer-right: 0px;
    --f7-device-pixel-ratio: 1;
