body {
    margin:0px;
    padding:0;
    font-family:helvetica;
    background-color: #cf4242;
    color: #FFFFFF;
    overflow-x: hidden;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
a{
    text-decoration:none;
    color:#000000;
}
.top{
    background-color:#;
    background-size: cover;
    text-align:center;
    padding-bottom:20px;
}
.top img{
    width:100px;
    height:100px;
    border-radius:23.3%;
    margin-top:20px;
}
.title{
    font-size:25px;
    font-weight:800;
    margin-top:5px;
    margin-bottom:5px;
    color: black;
}
.tweaked{
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:20px;
    background-color: #3b5672;
    height:60px;
}
.tweaked img{
    width:60px;
    height:60px;
    float:left;
    border-radius:23.3%;
    margin-left:0px;
}
.tweaked h1{
    font-size:16px;
    margin-left:70px;
    text-align:justify;
    margin-bottom:0px;
}
.tweaked p{
    font-size:13px;
    margin-left:-25px;
    opacity:0.6;
    padding:5px;
    border-radius:5px;
    width:100px;
    text-align:justify;
    margin-top:2px;
}
.tweaked a{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float:right;
    color: #007AFF;
    margin-right:0px;
    border:5px solid #007AFF;
}
h66 {
font-size: 40px;
color: #1A1A1A;
}
.ios {
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:20px;
    background-color: #242628;
    height:25px;
    font-size: 25px;
}
.apps{
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:20px;
    background-color: #000000;
    height:60px;
}
.apps img{
    width:60px;
    height:60px;
    float:left;
    border-radius:23.3%;
    margin-left:0px;
}
.apps h1{
    font-size:16px;
    margin-left:70px;
    text-align:justify;
    margin-bottom:0px;
    color: #cf4242;
}
.apps p{
    font-size:13px;
    margin-left:-25px;
    opacity:0.6;
    padding:5px;
    border-radius:5px;
    width:100px;
    text-align:justify;
    margin-top:2px;
}
.apps a{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float: right;
    color: #cf4242;
    margin-right:0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}
.apps a:hover{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float: right;
    color: #FFFFFF;
    margin-right:0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}
.new{
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:15px;
    background-color: #000000;
    height:auto;
}
.new img{
    width:60px;
    height:60px;
    float:left;
    border-radius:23.3%;
    margin-left:0px;
}
.new h1{
    font-size:16px;
    margin-left:70px;
    text-align:justify;
    margin-bottom:0px;
}
.new p{
    font-size:13px;
    margin-left:-25px;
    opacity:0.6;
    padding:5px;
    border-radius:5px;
    width:100px;
    text-align:justify;
    margin-top:2px;
}
.new a{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float: right;
    color: #cf4242;
    margin-right:0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}
.new a:hover{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float: right;
    color: #FFFFFF;
    margin-right:0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}