element.style {
}
.item {
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(45, 45, 45);
    margin: 10px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
feuille de style user-agent
div {
    display: block;
}
.media {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid rgb(45, 45, 45);
}
.item_name {
    position: absolute;
    margin-top: 9px;
    margin-left: 15px;
    z-index: 40;
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}
.item_author {
    position: absolute;
    margin-top: 33px;
    margin-left: 15px;
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 40;
