#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat; 
    width: 55%; 
    font-size: 18px;
    padding: 12px 10px 12px 40px;
    margin-bottom: 12px;
    margin:10px;
    border-radius:12px;
    background-color: #282727;
    color: #FFFFFF;
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
