#myInput {
    background-position: 10px 12px;
    background-repeat: repeat; 
    width: 55%; 
    font-size: 18px;
    padding: 7px 5px 7px 96px;
    margin-bottom: 12px;
    margin:10px;
    border-radius:11px;
    background-color: #282727;
    color: #FFFFFF;
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
