#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat; 
    width: 55%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
    margin:10px;
    border-radius:15px;
    background-color: #000000;
    color: #cf4242;
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
