* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {
    max-width: 1000px;
    width: 0 auto;
}

.container .content {
    margin: 50px 0px;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container .card {
    height: 250px;
    width: 300px;
    background: #f5f5f5;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    max-width: 100px;
    object-fit: cover;
}

.card h4 {
    font-weight: 600;
    margin: 10px 0px;
}

.card p {
    font-size: 12px;
}

@media (max-width: 1000px) {
    .card-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}
