      .slider{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .slider div{
        flex-shrink:0;
        width:80px;
        height:80px;
      }
