.mobile-nav {
  position: fixed;
  bottom: 0;
  height: 53px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(40px);
  background: rgba(0, 0, 0, 0);
  border-top: 1px solid rgb(45, 45, 45);
}
.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc-icon img {
  width: 48px;
}
