.mobile-nav {
  position: fixed;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(130%) blur(35px);
  border-bottom: 1px solid rgb(238, 238, 238);
}
.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc-icon img {
  width: 140px;
}
