a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgba(255,255,255,0.2);}
a {
    background: #65E82A;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.8);
    height:2px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #65e82a; border-radius:0px; height:2px; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #65e82a; border-radius:0px; height:2px; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

      #loading{
      	background-color: #59631e;
      	height: 100%;
      	width: 100%;
      	position: fixed;
      	z-index: 1;
      	margin-top: 0px;
      	top: 0px;
      }
      #loading-center{
      	width: 100%;
      	height: 100%;
      	position: relative;
      	}
      #loading-center-absolute {
      	position: absolute;
      	left: 50%;
      	top: 50%;
      	height: 100px;
      	width: 50px;
      	margin-top: -50px;
      	margin-left: -25px;
      }
      .object{
      	width: 50px;
      	height: 8px;
      	margin-bottom:15px;
      	background-color: #FFF;
      	-webkit-animation: animate 0.8s infinite;
      	animation: animate 0.8s infinite;
      	}

      #object_two {
      	-webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;

      	}


      #object_four {
      	-webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
      	}


      @-webkit-keyframes animate {

        50% {
      	-ms-transform: translate(50%,0);
         	-webkit-transform: translate(50%,0);
          transform: translate(50%,0);
      	  }




      }

      @keyframes animate {
        50% {
      	-ms-transform: translate(50%,0);
         	-webkit-transform: translate(50%,0);
          transform: translate(50%,0);
      	  }


      }

      .slider{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .slider div{
        flex-shrink:0;
        width:65px;
        height:65px;
      }
