.blur-bottom {
position: fixed;
z-index: 10;
left: 0;
right: 0;
bottom: -7rem;
height: 20rem;
background: linear-gradient(
180deg,
rgba(255, 255, 255, 0.4) 0%,
rgba(255, 255, 255, 0.9) 50%,
rgba(255, 255, 255, 1) 100%
);
filter: blur(1rem);
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #11a7ed;
}

.nav__icon {
    font-size: 18px;
}
