element.style {
}
@supports ((-webkit-backdrop-filter:blur(20px)) or (backdrop-filter:blur(20px)))
.nav {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
feuille de style user-agent
div {
    display: block;
}
body, html {
    font-family: helvetica;
    background-color: #111;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
}
.nav h1 {
    position: fixed;
    top: 5px;
    left: 140px;
    font-size: 25px;
    color: #ffffff;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
